params = [
    dask_cluster_start_timeout: 60,
    dask_cluster_poll_interval: 2,
]

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: DASK_STARTSCHEDULER {
        ext.args = [
            dask_scheduler_start_timeout_secs: params.dask_cluster_start_timeout,
            dask_scheduler_poll_interval_secs: params.dask_cluster_poll_interval,
	    ]
    }

    withName: DASK_CLUSTERINFO {
        ext.args = [
            dask_scheduler_start_timeout_secs: params.dask_cluster_start_timeout,
            dask_scheduler_poll_interval_secs: params.dask_cluster_poll_interval,
        ]
    }

    withName: DASK_STARTWORKER {
        ext.args = [
            dask_worker_start_timeout_secs: params.dask_cluster_start_timeout,
            dask_worker_poll_interval_secs: params.dask_cluster_poll_interval,
        ]
    }

    withName: DASK_CHECKWORKER {
        ext.args = [
            dask_worker_start_timeout_secs: params.dask_cluster_start_timeout,
            dask_worker_poll_interval_secs: params.dask_cluster_poll_interval,
        ]
    }
}
