params = [
    dask_work_dir: 'output/dask',
    dask_cluster_start_timeout: 60,
    dask_cluster_poll_interval: 2,
    dask_worker_threads: 1,
]

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: DASK_STARTMANAGER {
        ext.args = [
            "--scheduler-start-timeout ${params.dask_cluster_start_timeout}",
            "--scheduler-poll-interval ${params.dask_cluster_poll_interval}",
	    ].join(' ')
    }

    withName: DASK_WAITFORMANAGER {
        ext.args = [
            "--scheduler-start-timeout ${params.dask_cluster_start_timeout}",
            "--scheduler-poll-interval ${params.dask_cluster_poll_interval}",
        ].join(' ')
    }

    withName: DASK_STARTWORKER {
        ext.args = [
            "--worker-start-timeout ${params.dask_cluster_start_timeout}",
            "--worker-poll-interval ${params.dask_cluster_poll_interval}",
            "--nthreads ${params.dask_worker_threads}",
        ].join(' ')
    }

    withName: DASK_WAITFORWORKERS {
        ext.args = [
            "--worker-start-timeout ${params.dask_cluster_start_timeout}",
            "--worker-poll-interval ${params.dask_cluster_poll_interval}",
        ].join(' ')
    }
}
