params {
    runtime_opts                       = ''

    registration_fix_id                = ''
    reg_ch                             = ''
    bigstream_config                   = "${projectDir}/conf/bigstream_config.yml"
    bigstream_verbose                  = false
    registration_compression           = 'zstd'
    registration_compression_opts      = '{"level":5}'

    // parameters used for determining the global affine
    global_steps                       = 'affine'
    fix_global_subpath                 = ''
    fix_global_timeindex               = ''
    fix_global_channel                 = ''
    mov_global_subpath                 = ''
    mov_global_timeindex               = ''
    mov_global_channel                 = ''

    fix_mask                           = ''
    fix_mask_subpath                   = ''
    mov_mask                           = ''
    mov_mask_subpath                   = ''

    // generate foreground masks using bigstream (shared for global and local alignment)
    generate_fix_mask                  = false
    generate_mov_mask                  = false
    foreground_mask_cpus               = 1
    foreground_mask_mem_gb             = 0

    global_results_subdir              = 'global'
    global_registration_container      = 'global-registration.zarr'
    bigstream_zarr_format              = 2
    bigstream_zarr_sharding_factor     = ''
    global_registration_timeindex      = ''
    global_transform_name              = 'global-affine.mat'
    global_inv_transform_name          = 'inv-global-affine.mat'
    reuse_global_affine                = false

    // initial transformation applied to global registration
    global_mov_origin_transform        = ''
    // list of static transforations applied to global registration
    global_static_transforms           = ''

    // parameters used for determining the local deformation
    fix_local_subpath                  = ''
    fix_local_timeindex                = ''
    fix_local_channel                  = ''
    mov_local_subpath                  = ''
    mov_local_timeindex                = ''
    mov_local_channel                  = ''

    mask_subsampling                   = 2
    mask_lambda1                       = 0  // the influence of the background over the foreground
    mask_lambda2                       = 4.5 // variance of the foreground region - larger means larger segments
    mask_smoothing                     = 2
    mask_smooth_sigmas                 = "4.5"
    mask_iterations                    = "15,25"
    mask_shrink_factors                = "1,2"
    mask_background                    = 0
    mask_thresh_percentile             = 0 // if set uses a simple threshold cutoff instead of MorphACWE

    // local masks as min,max voxel coords
    local_fix_roi                      = ''
    local_mov_roi                      = ''

    // initial transformation applied to local registration
    local_mov_origin_transform         = ''
    // list of static transforations applied to local registration
    local_static_transforms            = ''

    registration_subdir                = 'registration'
    local_results_subdir               = 'local'
    local_registration_container       = 'registration.zarr'

    local_registration_timeindex       = ''
    local_steps                        = 'affine,deform'
    distributed_bigstream              = true
    dask_config                        = "${projectDir}/conf/dask_config.yml"
    deform_subpath                     = ''
    local_transform_name               = 'deform.zarr'
    local_inv_transform_name           = 'inv-deform.zarr'
    bigstream_alter_existing_deform    = false
    warped_subpaths                    = ''
    warped_channels                    = ''

    bigstream_processsize              = ''
    bigstream_local_blocksize          = '' // local alignment process size [X,Y,Z]
    bigstream_local_fg_pct             = 0.1
    bigstream_local_overlap_factor     = 0.125
    bigstream_local_deform_overlap     = 0.125
    bigstream_local_inv_overlap_factor = 0.25

    bigstream_deform_blocksize         = '' // local deformation field chunk size [X,Y,Z]
    bigstream_align_blocksize          = '' // block size for applying the deformation as well as warped image chunksize [X,Y,Z]

    bigstream_inv_step                 = 1.0
    bigstream_inv_iterations           = '20'
    bigstream_inv_shrink_spacings      = ''
    bigstream_inv_smooth_sigmas        = '0.'
    bigstream_inv_step_cut_factor      = 0.5
    bigstream_inv_pad                  = 0.1
    bigstream_inv_use_root             = true

    run_registration                   = false
    run_global_align                   = false
    run_local_align                    = false

    // correlation metric (optional, runs after global and/or local registration)
    run_global_metric                  = false
    run_local_metric                   = false
    global_correlation_container       = 'correlation-metric.zarr'
    global_correlation_output_subpath  = ''

    local_correlation_container        = 'correlation-metric.zarr'
    local_correlation_input_subpath    = ''
    local_correlation_output_subpath   = ''

    neighborhood_for_metric_eval       = 3

    run_deformations                   = false
    run_inverse                        = false
    run_warped_multiscale              = false

    global_align_cpus                  = 3
    global_align_mem_gb                = 0
    local_align_cpus                   = 1
    local_align_mem_gb                 = 0
    local_inverse_cpus                 = 1
    local_inverse_mem_gb               = 0
    local_deform_cpus                  = 1
    local_deform_mem_gb                = 0

    bigstream_dask_workers             = 10
    bigstream_dask_min_workers         = 1
    bigstream_dask_worker_cpus         = 1
    bigstream_dask_worker_mem_gb       = 0
    bigstream_dask_nthreads            = 1
    bigstream_dask_nprocs              = 0
    bigstream_scheduler_port           = 0
    bigstream_dashboard_port           = 0
    bigstream_max_concurrent_reads     = 0
}

process {

    withName: "(.*):REGISTRATION:(.*)" {
        container = 'ghcr.io/janeliascicomp/bigstream:5.3.0-omezarr-dask2025.11.0-py12-ol9'
        containerOptions = "${params.runtime_opts}"
        errorStrategy = 'terminate'
        time = 48.h
    }

    withName: "(.*):REGISTRATION:(.*)DASK_STARTMANAGER" {
        container = 'ghcr.io/janeliascicomp/bigstream:5.3.0-omezarr-dask2025.11.0-py12-ol9'
        containerOptions = params.runtime_opts

        ext {
            args = [
                "--port ${params.bigstream_scheduler_port}",
                "--dashboard-address ${params.bigstream_dashboard_port}",
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)DASK_STARTWORKER" {
        container = 'ghcr.io/janeliascicomp/bigstream:5.3.0-omezarr-dask2025.11.0-py12-ol9'
        errorStrategy = { task.exitStatus in [130, 137] ? 'terminate' : 'ignore' }

        ext {
            args = [
                params.bigstream_dask_nthreads ? "--nthreads ${params.bigstream_dask_nthreads}" : '',
                params.bigstream_dask_nprocs   ? "--nworkers ${params.bigstream_dask_nprocs}"   : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_GLOBALALIGN" {
        ext {
            args = [
                params.global_mov_origin_transform    ? "--global-mov-origin-transform ${params.global_mov_origin_transform}" : '',
                params.global_static_transforms       ? "--global-static-transforms ${params.global_static_transforms}"       : '',

                params.volume_expansion               ? "--global-fix-expansion ${params.volume_expansion}"                   : '',
                params.volume_expansion               ? "--global-mov-expansion ${params.volume_expansion}"                   : '',

                params.global_align_cpus              ? "--cpus ${params.global_align_cpus}"                                  : '',

                params.reuse_global_affine            ? '--reuse-existing-transform'                                          : '',

                params.bigstream_zarr_format          ? "--output-zarr-format ${params.bigstream_zarr_format}"                : '',
                params.bigstream_zarr_sharding_factor ? "--output-sharding-factor ${params.bigstream_zarr_sharding_factor}"   : '',

                params.registration_compression       ? "--compressor ${params.registration_compression}"                     : '',
                params.registration_compression_opts  ? "--compressor-opts \'${params.registration_compression_opts}\'"       : '',

                params.bigstream_verbose              ? '--verbose'                                                           : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_LOCALALIGN" {
        ext {
            args = [
                params.volume_expansion                ? "--local-fix-expansion ${params.volume_expansion}"                             : '',
                params.volume_expansion                ? "--local-mov-expansion ${params.volume_expansion}"                             : '',

                params.local_fix_roi                   ? "--local-fix-roi ${params.local_fix_roi}"                                      : '',
                params.local_mov_roi                   ? "--local-mov-roi ${params.local_mov_roi}"                                      : '',

                params.local_mov_origin_transform      ? "--local-mov-origin-transform ${params.local_mov_origin_transform}"            : '',
                params.local_static_transforms         ? "--local-static-transforms ${params.local_static_transforms}"                  : '',

                params.bigstream_local_fg_pct          ? "--foreground-percentage ${params.bigstream_local_fg_pct}"                     : '',
                params.bigstream_alter_existing_deform ? "--local-alter-existing-deform"                                                : '',

                params.bigstream_processsize           ? "--local-processing-size ${params.bigstream_processsize}"                      : '',
                params.bigstream_local_blocksize       ? "--local-output-blocksize ${params.bigstream_local_blocksize}"                 : '',
                params.bigstream_local_overlap_factor  ? "--local-processing-overlap-factor ${params.bigstream_local_overlap_factor}"   : '',

                params.bigstream_deform_blocksize      ? "--local-transform-blocksize ${params.bigstream_deform_blocksize}"             : '',

                params.bigstream_dask_workers          ? "--local-dask-workers ${params.bigstream_dask_workers}"                        : '',
                params.bigstream_dask_worker_cpus      ? "--worker-cpus ${params.bigstream_dask_worker_cpus}"                           : '',

                params.registration_compression        ? "--compressor ${params.registration_compression}"                              : '',
                params.registration_compression_opts   ? "--compressor-opts \'${params.registration_compression_opts}\'"                : '',
                params.bigstream_zarr_format           ? "--output-zarr-format ${params.bigstream_zarr_format}"                         : '',
                params.bigstream_zarr_sharding_factor  ? "--output-sharding-factor ${params.bigstream_zarr_sharding_factor}"            : '',

                params.bigstream_max_concurrent_reads  ? "--max-concurrent-zarr-reads ${params.bigstream_max_concurrent_reads}"         : '',

                params.bigstream_verbose               ? '--verbose'                                                                    : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_DEFORM" {
        ext {
            args = [
                params.volume_expansion                ? "--fix-expansion ${params.volume_expansion}"                                  : '',
                params.volume_expansion                ? "--mov-expansion ${params.volume_expansion}"                                  : '',
                params.volume_expansion                ? "--local-transform-expansion ${params.volume_expansion}"                      : '',

                params.local_static_transforms         ? "--static-transforms ${params.local_static_transforms}"                       : '',

                params.bigstream_align_blocksize       ? "--output-blocksize ${params.bigstream_align_blocksize}"                      : '',
                params.bigstream_local_deform_overlap  ? "--blocks-overlap-factor ${params.bigstream_local_deform_overlap}"            : '',
                params.bigstream_zarr_format           ? "--output-zarr-format ${params.bigstream_zarr_format}"                       : '',
                params.bigstream_zarr_sharding_factor  ? "--output-sharding-factor ${params.bigstream_zarr_sharding_factor}"               : '',


                params.bigstream_dask_workers          ? "--local-dask-workers ${params.bigstream_dask_workers}"                       : '',
                params.bigstream_dask_worker_cpus      ? "--worker-cpus ${params.bigstream_dask_worker_cpus}"                          : '',

                params.registration_compression        ? "--compressor ${params.registration_compression}"                             : '',
                params.registration_compression_opts   ? "--compressor-opts \'${params.registration_compression_opts}\'"               : '',

                params.bigstream_max_concurrent_reads  ? "--max-concurrent-zarr-reads ${params.bigstream_max_concurrent_reads}"        : '',

                params.bigstream_verbose               ? '--verbose'                                                                   : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_COMPUTEINVERSE" {
        ext {
            args = [
                params.bigstream_local_inv_overlap_factor ? "--processing-overlap-factor ${params.bigstream_local_inv_overlap_factor}" : '',
                params.volume_expansion                   ? "--local-transform-expansion ${params.volume_expansion}"                  : '',

                // parameters for generating the inverse transform
                params.bigstream_inv_step                 ? "--inv-step ${params.bigstream_inv_step}"                                  : '',
                params.bigstream_inv_iterations           ? "--inv-iterations ${params.bigstream_inv_iterations}"                      : '',
                params.bigstream_inv_shrink_spacings      ? "--inv-shrink-spacings ${params.bigstream_inv_shrink_spacings}"            : '',
                params.bigstream_inv_smooth_sigmas        ? "--inv-smooth-sigmas ${params.bigstream_inv_smooth_sigmas}"                : '',
                params.bigstream_inv_step_cut_factor      ? "--inv-step-cut-factor ${params.bigstream_inv_step_cut_factor}"            : '',
                params.bigstream_inv_pad                  ? "--inv-pad ${params.bigstream_inv_pad}"                                    : '',
                params.bigstream_inv_use_root             ? '--inv-use-root'                                                           : '',

                params.bigstream_dask_workers             ? "--local-dask-workers ${params.bigstream_dask_workers}"                    : '',
                params.bigstream_dask_worker_cpus         ? "--worker-cpus ${params.bigstream_dask_worker_cpus}"                       : '',

                params.bigstream_zarr_format              ? "--output-zarr-format ${params.bigstream_zarr_format}"                     : '',
                params.bigstream_zarr_sharding_factor     ? "--output-sharding-factor ${params.bigstream_zarr_sharding_factor}"        : '',
                params.registration_compression           ? "--compressor ${params.registration_compression}"                          : '',
                params.registration_compression_opts      ? "--compressor-opts \'${params.registration_compression_opts}\'"            : '',

                params.bigstream_max_concurrent_reads     ? "--max-concurrent-zarr-reads ${params.bigstream_max_concurrent_reads}"     : '',

                params.bigstream_verbose                  ? '--verbose'                                                                : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_FOREGROUNDMASK.*" {
        cpus = (params.foreground_mask_cpus as int) ?: 1
        memory = (params.foreground_mask_mem_gb as int).GB ?: (((params.foreground_mask_cpus as int) ?: 1) * (params.default_mem_gb_per_cpu as int)).GB
        containerOptions = "${params.runtime_opts}"
        errorStrategy    = 'terminate'
        ext {
            args = [
                params.mask_subsampling       ? "--mask-subsampling ${params.mask_subsampling}"                 : '',
                params.bigstream_zarr_format  ? "--output-zarr-format ${params.bigstream_zarr_format}"          : '',
                params.mask_lambda1           ? "--lambda1 ${params.mask_lambda1}"                              : '',
                params.mask_lambda2           ? "--lambda2 ${params.mask_lambda2}"                              : '',
                params.mask_smoothing         ? "--mask-smoothing ${params.mask_smoothing}"                     : '',
                params.mask_smooth_sigmas     ? "--mask-smooth-sigmas ${params.mask_smooth_sigmas}"             : '',
                params.mask_iterations        ? "--mask-iterations ${params.mask_iterations}"                   : '',
                params.mask_shrink_factors    ? "--mask-shrink-factors ${params.mask_shrink_factors}"           : '',
                params.mask_background        ? "--background ${params.mask_background}"                        : '',
                params.mask_thresh_percentile ? "--mask-threshold-percentile ${params.mask_thresh_percentile}"  : '',

                params.bigstream_verbose      ? '--verbose'                                                     : '',
            ].join(' ')
        }
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_CORRELATIONMETRIC" {
        ext {
            args = [
                params.neighborhood_for_metric_eval ? "--radius ${params.neighborhood_for_metric_eval}" : '',
                params.bigstream_verbose            ? '--verbose'                                       : '',
            ].join(' ')
        }
    }

}
