process {
    withName: "(.*):REGISTRATION:(.*)DASK_START:(.*)\$" {
        container = null
    }

    withName: "(.*):REGISTRATION:(.*)DASK_STOP:(.*)\$" {
        container = null
    }

    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_(.*)\$" {
        container = null
    }

    withName: "(.*):SEGMENTATION:(.*)SEGTOOLS_(.*)\$" {
        container = null
    }

    withName: "(.*):WARP_SPOTS:(.*)" {
        container = null
    }
}
