process {
    withName: "(.*):REGISTRATION:(.*)BIGSTREAM_(.*)\$" {
        container = null
    }

    withName: "(.*):REGISTRATION:(.*)DASK_(.*)\$" {
        container = null
    }

    withName: "(.*):SEGMENTATION:(.*)CELLPOSE" {
        container = null
    }

    withName: "(.*):SEGMENTATION:(.*)DASK_(.*)\$" {
        container = null
    }

    withName: "(.*):WARP_SPOTS:(.*)" {
        container = null
    }
}
