profiles {

    kubernetes {
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = true
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false

        params {
            user_id = "id -u".execute().text.trim() as Integer
        }

        process {
            executor = 'k8s'
        }

        k8s {
            autoMountHostPaths = true
            computeResourceType = 'Job'
            cpuLimits = true
            httpConnectTimeout = '600s'
            httpReadTimeout = '600s'
            context = 'nfcontext'
            namespace = 'default'
            runAsUser = params.user_id
            pullPolicy = 'Always'
            debug.yaml = true
        }
    }
}
