params {
    skip_multiscale_warped_image   = false
    multiscale_cpus                = 1
    multiscale_mem_gb              = 15
    multiscale_anisotropy          = false
}

process {

    withName:"(.*)?MULTISCALE.*:.*" {
        time = 8.h
        // all processes that run as part of the multiscale workflow
        // use this container
        container = 'ghcr.io/janeliascicomp/zarr-tools:0.3.1-dask2025.11.0-py12-ol9'
    }

    withName:"(.*)?MULTISCALE.*:MULTISCALE_PYRAMID" {
        time = 8.h

        ext.args = [
            bool_arg('--preserve-anisotropy', params.multiscale_anisotropy)
        ].join(' ')
    }

    withName:"(.*)SEGMENTATION.*MULTISCALE:MULTISCALE_PYRAMID" {
        time = 8.h

        ext.args = [
            '--data-type segmentation',
            bool_arg('--preserve-anisotropy', params.multiscale_anisotropy)
        ].join(' ')
    }

}

def bool_arg (arg_flag, arg_value) {
    arg_value ? "${arg_flag}" : ''
}
