params {
    skip_multiscale_warped_image   = false
    multiscale_cpus                = 1
    multiscale_mem_gb              = 15
}

process {

    withName:"(.*)?MULTISCALE.*:.*" {
        // all processes that run as part of the multiscale workflow
        // use this container
        container = 'ghcr.io/janeliascicomp/zarr-tools:dask2025.5.1-py12'
    }

    withName:"(.*)?MULTISCALE.*:MULTISCALE_PYRAMID" {
        time = 8.h
    }

}
