params {
    runtime_opts                      = ''

    spot_extraction_ids               = ''

    skip_spot_extraction              = false
    spot_channels                     = 'c0'
    spot_scales                       = 's0'
    spot_subpaths                     = ''
}

def arg_value(arg_flag, arg_value) {
    "${arg_flag} ${arg_value}"
}

def bool_arg(arg_flag, arg_value) {
    arg_value ? "${arg_flag}" : ''
}

def optional_arg_value(arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
