params {
    runtime_opts                      = ''

    spot_extraction_ids               = ''

    skip_spot_extraction              = false
    distributed_spot_extraction       = true
    spot_channels                     = 'c0'
    spot_scales                       = 's0'
    spot_subpaths                     = ''

    rsfish_min_intensity              = 0
    rsfish_max_intensity              = 4096
    rsfish_anisotropy                 = 0.7
    rsfish_sigma                      = 1.5
    rsfish_threshold                  = 0.007
    rsfish_background                 = 0
    rsfish_intensity                  = 0

    rsfish_spark_workers              = 2
    rsfish_min_spark_workers          = 1
    rsfish_spark_worker_cores         = 5
    rsfish_spark_gb_per_core          = 10
    rsfish_spark_driver_cores         = 1
    rsfish_spark_driver_mem_gb        = 4
}

process {

    withName: "(.*)?RS_FISH" {
        errorStrategy = 'terminate'
        ext.args = [
            "--minIntensity=${params.rsfish_min_intensity}",
            "--maxIntensity=${params.rsfish_max_intensity}",
            "--anisotropy=${params.rsfish_anisotropy}",
        ].join(' ')
    }

}

def arg_value(arg_flag, arg_value) {
    "${arg_flag} ${arg_value}"
}

def bool_arg(arg_flag, arg_value) {
    arg_value ? "${arg_flag}" : ''
}

def optional_arg_value(arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
