params {
    spots_counts_cores       = 1
    spots_counts_mem_gb      = 2
    cells_regionprops_cores  = 1
    cells_regionprops_mem_gb = 2
    spots_counts_subdir      = 'cell-counts'
    cells_regionprops_subdir = 'cell-props'
    dapi_channel             = ''
    bleeding_channel         = ''
}
