params {
    spots_counts_cores             = 1
    spots_counts_mem_gb            = 0
    spots_counts_pattern           = '*coord*.csv'
    spots_counts_subdir            = 'spots-counts'
    labels_timeindex               = ''
    labels_channel                 = ''
    skip_spots_counts              = false
    spots_counts_process_blocksize = ''
}

process {

    withName: "(.*)?SPOTS_COUNTS" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.2-ome-dask2025.11.0'

        ext.args = [
            optional_arg_value('--expansion-factor', params.volume_expansion),
            optional_arg_value('--timeindex', params.labels_timeindex),
            optional_arg_value('--channel', params.labels_channel),
            optional_arg_value('--processing-blocksize', params.spots_counts_process_blocksize),
        ].join(' ')
    }

}

def optional_arg_value (arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
