params {
    runtime_opts                          = ''

    spot_extraction_ids                   = ''

    run_spot_extraction                   = true
    skipped_spot_extraction_rounds        = ''
    extract_spots_from_warped             = false
    spots_extraction_method               = 'RS_FISH'

    distributed_spot_extraction           = true
    spots_extraction_subdir               = 'spots'
    spots_channels                        = ''
    spots_excluded_channels               = ''
    spots_scale                           = ''
    spots_subpath                         = '0'
    spots_image_name                      = ''
    spots_image_subpath_ref               = ''

    rsfish_min_intensity                  = '0'
    rsfish_max_intensity                  = '4096'
    rsfish_anisotropy                     = '0.7'
    rsfish_sigma                          = '1.5'
    rsfish_threshold                      = '0.007'
    rsfish_background                     = '0'
    rsfish_intensity_th                   = '0'
    rsfish_intensity_method               = '0'

    // RS-FISH spark resources
    rsfish_spark_local_dir                = ''
    rsfish_spark_workers                  = 1
    rsfish_min_spark_workers              = 1
    rsfish_spark_worker_cores             = 5
    rsfish_spark_worker_mem_gb            = 0
    rsfish_spark_executor_cores           = 5
    rsfish_spark_executor_mem_gb          = 0
    rsfish_spark_executor_overhead_mem_gb = 1
    rsfish_spark_driver_cores             = 1
    rsfish_spark_driver_mem_gb            = 0
    rsfish_spark_task_cores               = 1
    rsfish_spark_max_partition_bytes      = ''
    rsfish_spark_gb_per_core              = 15

    fishspots_psf_file                    = ''
    fishspots_psf_retries                 = 0
    fishspots_psf_trim                    = 4
    fishspots_intensity_threshold         = 0
    fishspots_intensity_threshold_minimum = 0
    fishspots_intensity_th_percentiles    = ''
    fishspots_config                      = "${projectDir}/conf/fishspots_config.yml"
    fishspots_dask_config                 = "${projectDir}/conf/dask_config.yml"
    fishspots_roi                         = ''
    fishspots_blocksize                   = '128,128,128'
    fishspots_verbose                     = false
    // FISHSPOTS dask resources
    fishspots_dask_workers                = 1
    fishspots_dask_min_workers            = 1
    fishspots_dask_worker_cpus            = 1
    fishspots_dask_worker_mem_gb          = 4
    fishspots_local_workers               = 0
    fishspots_dask_nthreads               = 1
    fishspots_dask_nprocs                 = 1
    fishspots_cpus                        = 1
    fishspots_mem_gb                      = 0
    // POST spots resources
    post_spots_mem_gb                     = 15
}

process {

    withName: "(.*)?SPOT_EXTRACTION:SPARK.*" {
        // set container for all spark tasks
        container = 'ghcr.io/janeliascicomp/rs-fish-spark:omedev-e81ca9e'
        errorStrategy = 'terminate'
        time = 48.h
    }

    withName: "(.*)?SPOT_EXTRACTION:(.*)SPOTS_RSFISH" {
        errorStrategy = 'terminate'
        container = 'ghcr.io/janeliascicomp/rs-fish-spark:omedev-e81ca9e'
        time = 48.h
        ext.args = {
            def excluded = params.spots_excluded_channels
                ? "--excluded-channels=${params.spots_excluded_channels}"
                : ''
            // RS-FISH arguments builder
            def fields = [
                ['--minIntensity',       params.rsfish_min_intensity],
                ['--maxIntensity',       params.rsfish_max_intensity],
                ['--anisotropy',         params.rsfish_anisotropy],
                ['--sigma',              params.rsfish_sigma],
                ['--threshold',          params.rsfish_threshold],
                ['--background',         params.rsfish_background],
                ['--intensityThreshold', params.rsfish_intensity_th],
                ['--intensityMethod',    params.rsfish_intensity_method],
            ].collect { flag, raw -> [flag: flag, vals: (raw as String).split(',')] }

            def n = fields*.vals*.size().max()
            def parts = [excluded]
            (0..<n).each { c ->
                parts << "--for-channel=${c-1}"
                fields.each { f ->
                    if (c < f.vals.size()) parts << "${f.flag}=${f.vals[c]}"
                }
            }
            parts.join(' ')
        }
    }

    withName: "(.*)?SPOT_EXTRACTION:(.*)DASK.*" {
        // set container for all dask tasks
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        errorStrategy = 'terminate'
    }

    withName: "(.*)?SPOT_EXTRACTION:(.*)DASK_STARTMANAGER" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'

        ext {
            args = [
                "--port 0",
                "--dashboard-address 0",
            ].join(' ')
        }
    }

    withName: "(.*)?SPOT_EXTRACTION:(.*)DASK_STARTWORKER" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'

        ext {
            args = [
                params.fishspots_dask_nthreads ? "--nthreads ${params.fishspots_dask_nthreads}" : '',
                params.fishspots_dask_nprocs   ? "--nworkers ${params.fishspots_dask_nprocs}"   : '',
            ].join(' ')
        }
    }

    withName: "(.*)?SPOT_EXTRACTION:(.*)SPOTS_FISHSPOTS" {
        // set container for all dask tasks
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        errorStrategy = 'terminate'
        time = 48.h
        ext.args = [
            params.fishspots_roi                           ? "--roi ${params.fishspots_roi}"                                                       : '',
            params.fishspots_blocksize                     ? "--blocksize ${params.fishspots_blocksize}"                                           : '',
            params.spots_excluded_channels                 ? "--excluded-channels ${params.spots_excluded_channels}"                               : '',
            params.fishspots_psf_file                      ? "--psf-file ${params.fishspots_psf_file}"                                             : '',
            params.fishspots_psf_retries >= 0              ? "--psf-retries ${params.fishspots_psf_retries}"                                       : '',
            params.fishspots_psf_trim                      ? "--psf-trim ${params.fishspots_psf_trim}"                                             : '',
            params.fishspots_intensity_th_percentiles      ? "--intensity-threshold-percentiles ${params.fishspots_intensity_th_percentiles}"      : '',
            params.fishspots_intensity_threshold           ? "--intensity-threshold ${params.fishspots_intensity_threshold}"                       : '',
            params.fishspots_intensity_threshold_minimum   ? "--intensity-threshold-minimum ${params.fishspots_intensity_threshold_minimum}"       : '',
            params.fishspots_local_workers                 ? "--local-dask-workers ${params.fishspots_local_workers}"                              : '',
            params.fishspots_dask_worker_cpus              ? "--worker-cpus ${params.fishspots_dask_worker_cpus}"                                  : '',
            params.spots_image_name                        ? "--output-spots-imagename ${params.spots_image_name}"                                 : '',
            params.fishspots_verbose                       ? '--verbose'                                                                           : '',
        ].join(' ')
    }

    withName: "(.*)?SPOT_EXTRACTION:POST_RS_FISH" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        errorStrategy = 'terminate'
        memory = ((params.post_spots_mem_gb as int )?: 1).GB

        ext.args = [
            params.volume_expansion ? "--expansion-factor ${params.volume_expansion}" : '',
        ].join(' ')
    }

    withName: "(.*)?SPOT_EXTRACTION:VERIFY_RS_FISH" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        errorStrategy = 'terminate'
        memory = ((params.post_spots_mem_gb as int )?: 1).GB

        ext.args = [
            params.volume_expansion ? "--expansion-factor ${params.volume_expansion}" : '',
        ].join(' ')
    }

}
