params {
    spots_counts_cores             = 1
    spots_counts_mem_gb            = 0
    spots_counts_workers           = 1
    spots_counts_worker_cores      = 1
    spots_counts_pattern           = '*coord*.csv'
    spots_counts_subdir            = 'spots-counts'
    labels_timeindex               = ''
    labels_channel                 = ''
    skip_spots_counts              = false
    spots_with_labels_output       = '' // output filename for spots with labels result
    spots_counts_process_blocksize = ''
}

process {

    withName: "(.*)?SPOTS_COUNTS" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        time = 48.h

        ext.args = [
            optional_arg_value('--local-dask-workers', params.spots_counts_workers),
            optional_arg_value('--worker-cpus', params.spots_counts_worker_cores),
            optional_arg_value('--expansion-factor', params.volume_expansion),
            optional_arg_value('--timeindex', params.labels_timeindex),
            optional_arg_value('--channel', params.labels_channel),
            optional_arg_value('--processing-blocksize', params.spots_counts_process_blocksize),
            optional_arg_value('--labeled-spots-output', params.spots_with_labels_output)
        ].join(' ')
    }

}

def optional_arg_value (arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
