params {
    spots_props_cores              = 1
    spots_props_mem_gb             = 0
    spots_timeindex                = ''
    labels_timeindex               = ''
    labels_channel                 = ''
    spots_props_subdir             = 'spots-props'
    run_spots_properties           = true
    dapi_channel                   = ''
    bleeding_channel               = ''
    spots_props_process_blocksize  = ''
}

process {

    withName: "(.*)?SPOTS_PROPS" {
        container = 'ghcr.io/janeliascicomp/easifish-spots-utils:v1.3-ome-dask2025.11.0'
        time = 48.h

        ext.args = [
            params.volume_expansion             ? "--expansion-factor ${params.volume_expansion}"                : '',

            params.labels_timeindex             ? "--labels-timeindex ${params.labels_timeindex}"                : '',
            params.labels_channel               ? "--labels-channel ${params.labels_channel}"                    : '',

            params.spots_timeindex              ? "--image-timeindex ${params.spots_timeindex}"                  : '',
            params.spots_props_cores            ? "--worker-cpus ${params.spots_props_cores}"                    : '',
            params.spots_props_process_blocksize ? "--processing-blocksize ${params.spots_props_process_blocksize}" : '',
        ].join(' ')
    }
}
