params {
    skip_warp_spots         = false

    use_inverse_transforms  = true
    warped_spots_subdir     = 'warped-spots'
    warp_spots_cpus         = 1
    warp_spots_mem_in_gb    = 15
}

process {

    withName: "(.*):WARP_SPOTS:(.*)" {
        container = 'ghcr.io/janeliascicomp/bigstream:5.1.4-omezarr-dask2025.11.0-py12-ol9'
        containerOptions = "${params.runtime_opts}"
        errorStrategy = 'terminate'
        time = 48.h

        ext {
            args = [
                params.volume_expansion ? "--expansion-factor ${params.volume_expansion}" : '',
                params.use_inverse_transforms ? '--inverse-transforms' : '',
                params.bigstream_verbose ? '--verbose' : '',
            ].join(' ')
        }
    }

}
