process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

includeConfig '../../../../subworkflows/local/dask_cluster/nextflow.config'

params {
    dask_container = 'docker.io/multifish/distributed-cellpose:2.2.3'
    image_dataset = 'c1/s4'
    dask_work_dir = 'output/dask'
    output_blocksize = '32,32,32'
    diameter = 5
    cellprob_threshold = 1.0
    cellpose_eval_channels = '0,0'
    dask_config = '/Users/goinac/Work/HHMI/multifish/nfcore-multifish/tests/modules/local/distributedcellpose/dask_config.yml'
    max_cellpose_tasks = 1
    cellpose_workers = 1
    cellpose_required_workers = 1
    cellpose_worker_cpus = 1
    cellpose_worker_mem_gb = 16
    cellpose_driver_cpus = 1
    cellpose_driver_mem_gb = 1
}

process {
    withName:DISTRIBUTEDCELLPOSE {
        ext {
            args = [
                "--output-blocksize ${params.output_blocksize}",
                "--cellprob_threshold ${params.cellprob_threshold}",
                "--diam_mean ${params.diameter}",
                "--eval-channels ${params.cellpose_eval_channels}",
                "--dask-config ${params.dask_config}",
                "--max-cellpose-tasks ${params.max_cellpose_tasks}",
            ].join(' ')
        }
    }
}
