process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

includeConfig '../../../../subworkflows/local/dask_cluster/nextflow.config'

params {
    dask_container = 'docker.io/multifish/distributed-cellpose:2.1.1'
    dask_work_dir = 'output/dask'
    output_blocksize = '64,64,64',
    diameter = 5,
    cellprob_threshold = 1.0
}

process {
    withName:DISTRIBUTEDCELLPOSE {
        ext {
            args = [
                "--output-blocksize ${params.output_blocksize}",
                "--cellprob_threshold ${params.cellprob_threshold}",
                "--diam_mean ${params.diameter}",
            ].join(' ')
        }
    }
}
