process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: DASK_STARTSCHEDULER {
        ext.args = [
            dask_scheduler_start_timeout_secs: '60',
            dask_scheduler_poll_interval_secs: '5',
            dask_scheduler_port: 8786,
            with_dask_dashboard: true,
	    ]
    }

    withName: DASK_CLUSTERINFO {
        ext.args = [
            dask_scheduler_start_timeout_secs: '60',
            dask_scheduler_poll_interval_secs: '5',
        ]
    }

    withName: DASK_STARTWORKER {
        ext.args = [
            dask_worker_start_timeout_secs: '60',
            dask_worker_poll_interval_secs: '5',
        ]
    }

    withName: DASK_CHECKWORKER {
        ext.args = [
            dask_worker_start_timeout_secs: '60',
            dask_worker_poll_interval_secs: '5',
        ]
    }

}
